/**
 * Hook
 * Version: 1.0
 * Author: Jordan Singer, Brandon Jacoby
 * Copyright (c) 2013 - Hook.  All rights reserved.
 * http://www.usehook.com
 */
 
/* 'customizable' declares that a property can be customized without breaking functionality */
#hook * {
	margin: 0 auto;
}
#hook {
	/* customizable */ height: 150px;
	/* customizable */ background: url(/img/hook-bg.png) repeat;
	/* customizable */ box-shadow: 0px -9px 5px -5px #999 inset;
	clear: both;
	position: relative;
	width: 100%;
	overflow: hidden;
	text-align: center;
}
#hook span#hook-text {
	/* customizable */ font-size: 75px;
	/* customizable */ font-family: Arial, Helvetica, sans-serif;
	/* customizable */ color: #999;
	/* customizable */ font-weight: normal;
	/* customizable */ text-shadow: 0px 1px #fff;
}
#hook #loader {
	padding: 10px 0;
}
#hook .spinner {
	display: block;
	/* customizable */ background: url(/img/hook-spinner.gif) no-repeat center;
 	/* customizable */ width: 32px;
 	/* customizable */ height: 32px;
}