@import "compass/reset";
@import "compass/utilities";
@import "compass/typography";
@import "compass/layout";
@import "compass/css3";

$accent:#369;
$dark:#333;
$light:#fff;
$width:960px;


body{
	margin:0;
	padding:0;
	background:$light;
	color:$dark;
}

a{text-decoration: none;color:lighten($dark,15%);}
a:hover{color:$accent;}
a:active{}
a:visited{color:$accent;}

.left{float:left;}
.right{float:right;}


#hook-text{
	text-transform: uppercase;
}

#container{
	width:$width;
	margin:50px auto;
	padding:10px;
}

#question{

}

#answer{
	
}


#eightBall{
	background:url(/img/8ball.jpg) no-repeat center center;
	height:415px;
}

#footer{
	color:lighten($dark,65%);
}